body {
    background-color: #f0ffff ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #f0ffff ;
    
    
  }
  
  .navbar a {
    display:flex;
    align-items: center;
    justify-content: center;
    color:#333;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    height: 40px;
    padding: 16px 16px
    
  }

  #form > h1 {
      font-size: 1.5rem ;
  }
  
  input {
      width: 250px;
      height: 25px;
      margin: 15px 0px 15px 0;
  }

  button {
      border-style: solid;
      border-width: 0px;
      border-radius: 5px;
      height: 40px;
      width: 150px;
      background-color: rgb(255, 196, 0);
      color: rgb(143, 67, 38);
      font-weight: bold;
  }

  #howItWorks > ul {
    max-width: 800px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 45px;
    margin-left: auto;
    text-align: left;
    line-height: 1.5;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: url('images/fire-32.ico');
    
  }

  
  #howItWorks > ul li {
    margin: 30px 0;
    display: list-item;

  }
  


  #header-img {
      width: 300px;
      padding-right: 650px;
      
  }

  #howItWorks > ul li > p{
      font-size: 1rem;
      margin-top: 1px;
  }

  #howItWorks > ul li > h2 {
    font-size: 1.5rem;
    margin-bottom: 1px;
}

#pricing {
    display: flex;
    flex-direction: row;
    margin:50px;
    align-content: center;
    justify-content: space-between;
}

.product {
    height: 330px;
    width: 350px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 10px;
}

#tenor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    justify-items: center;

}

#tenor > ul {
    font-size: 1rem;
    text-align: center;
    margin-top: 1px;
}
#tenor > div { 
    background-color: #e7f1f1;
    align-self: stretch;
    width: 350px;
    height: 50px;
    border-radius: 2px;
    font-size: smaller;

}

#tenor > ul li {
    padding: 2px;
    text-align: center;
    list-style-type:square;
    text-align: left;
}

#bass {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
}


#bass > ul {
    font-size: 1rem;
    text-align: center;
    margin-top: 1px;
}
#bass > div { 
    background-color: #e7f1f1;
    align-self: stretch;
    width: 350px;
    height: 50px;
    border-radius: 2px;
    font-size: smaller;

}

#bass > ul li {
    padding: 2px;
    text-align: center;
    list-style-type:square;
    text-align: left;

}

#valve {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
}


#valve > ul {
    font-size: 1rem;
    text-align: center;
    margin-top: 1px;
}
#valve > div{ 
    background-color: #e7f1f1;
    align-self: stretch;
    width: 350px;
    height: 50px;
    border-radius: 2px;
    font-size: smaller;

}

#valve > ul li {
    padding: 2px;
    text-align: center;
    list-style-type:square;
    text-align: left;

}

footer{
  width: 90%;
  background-color: #e7f1f1;
  margin-left: 60px;
  margin-bottom: -16px;
  display: flex;
  flex-direction: column;
}

footer > span{
    align-self: flex-end;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 2px;
}

.button-navbar {
    background-color:#e7f1f1;
    overflow: hidden;
    width: 100%;
    right: 0;
    top: 0;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    
  }
  
  .button-navbar a {
    display:flex;
    align-items: center;
    justify-content: center;
    color:#333;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    height: 40px;
    padding: 16px 16px
    
  }
